# ==============================================================================
# PROJECT: Energy Pipeline (Smart Meters London)
# ==============================================================================

# --- SECURITY AND CREDENTIALS (MOST IMPORTANT!) ---
# We don't want your Kaggle or GCP keys ending up in the wrong hands
.kaggle/
kaggle.json
*.json
!credentials_example.json
auth/
secrets/
.env
*.pem
*.key

# --- DATA AND STORAGE (LARGE FILES) ---
# We do not upload the 1.17GB of CSVs. The recruiter will download them using your script.
data/
*.csv
*.zip
*.gz
*.parquet

# If using local SQLite for testing:
*.sqlite
*.db

# --- INFRASTRUCTURE (TERRAFORM) ---
# We don't want to upload the "state" of your local infrastructure
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
.terraform.lock.hcl
override.tf
override.tf.json

# --- VIRTUAL ENVIRONMENT AND DEPENDENCIES (PYTHON) ---
# We use 'uv' or 'pip', but the environment (.venv) is created on each machine
.venv/
env/
venv/
ENV/
build/
dist/
*.egg-info/
__pycache__/
*.py[cod]

# --- ORCHESTRATION AND TOOLS (KESTRA / DLT) ---
.kestra/
.dlt/
pip-log.txt
pip-delete-this-directory.txt

# --- NOTEBOOKS AND ANALYSIS ---
# Ignore Jupyter checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# --- OPERATING SYSTEM AND LOGS ---
.DS_Store
Thumbs.db
*.log
.idea/
.vscode/
*.swp